<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vote.mapper.VUserMapper">
	<insert id="register" parameterType="VUser">
		insert into VoteUser
		(vuId,vuUsername,vuPassword,vuStatus,vuVersion)
		values(seq_userid.nextval,#{vname},#{vpwd},#{vuStatus},#{version})
	</insert>
</mapper>